/*VARIÁVEIS */
:root {
    --font-body: 'Poppins', sans-serif;
    --bg-color: #0D121E;
    --bg-header: rgba(7, 10, 20, 0.9);
    --color-light: #E4E4E4;
    --text-light: #D5D5D5;
    --bg-btn: #F0B35B;
    --bg-btn-hover: rgba(240, 179, 91, 0.6);
}


/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/*===============================================================================*/

/*HEADER*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--bg-header);
}

.link-logo img {
    width: 48px;

}

nav {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.link-nav {
    font-family: var(--font-body);
    font-size: 20px;
    font-weight: bold;
    color: var(--text-light);
}

.btn-primary {
    display: flex;
    padding: 1rem;
    background-color: var(--bg-btn);
    color: var(--font-body);
    font-family: var(--font-body);
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
}

.btn-primary:hover {
    background-color: var(--bg-btn-hover);
    transition: 0.3s;
}

/*HERO*/
.hero {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.hero img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 1000px;
    margin: auto;
    gap: 24px;
    position: relative;
    z-index: 1;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.hero-title {
    font-family: var(--font-body);
    font-size: 48px;
    color: var(--color-light);
    text-align: center;
}

.hero-subtitle {
    font-family: var(--font-body);
    font-size: 20px;
    color: var(--text-light);
}

/*ABOUT*/
.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 128px;
    padding: 3rem 2rem;
    background-color: var(--bg-color);
}

.pictures {
    max-height: 620px;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}

.about-title {
    font-size: 32px;
    font-family: var(--font-body);
    color: var(--text-light);
}

.about-paragraphys {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: var(--font-body);
    font-size: 16px;
    color: var(--text-light);
}

/*SERVICES*/
.services {
    display: flex;
    flex-direction: column;
    margin: 84px 0px;
    padding: 0 2rem;
    gap: 84px;
}

.services-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 956px;
    margin: auto;
    text-align: center;
}

.services-title {
    font-size: 32px;
    font-family: var(--font-body);
    color: var(--bg-color);
}

.services-span {
    font-size: 16px;
    font-family: var(--font-body);
    color: var(--bg-header);
}

.services-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    display: flex;
    width: 356px;
    height: 377px;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 10px 8px 0 rgba(0, 0, 0, 0.75);
}

.card-info {
    display: flex;
    flex-direction: row;
    width: 100%;        
    padding: 1rem 1rem;
    justify-content: space-between;
    align-items: center;
}

.card-service {
    font-family: var(--font-body);
    font-size: 16px;
    font-weight: bold;
    color: var(--bg-header);
}

.card-price {
    font-family: var(--font-body);
    font-size: 14px;
    font-weight: bold;
    color: var(--bg-color);
    background-color: var(--bg-btn);
    padding: 10px 10px;
    border-radius: 8px;
}